@import "settings";
@import "foundation";
@import url("http://fonts.googleapis.com/css?family=Covered+By+Your+Grace");

#borderTop, #borderRight, #borderBottom, #borderLeft {
  position: fixed;
  background: $white;
  z-index: 3;
}

#borderTop {
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
}

#borderRight {
  top: 0;
  bottom: 0;
  right: 0;
  width: 20px;
}

#borderBottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
}

#borderLeft {
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
}

.top-bar {
  margin-left: 20px;
}

#background, #app-background {
  position: absolute;
  background: $primary-color;
  min-height: 720px;
  min-width: 1440px;
}

#app-background {
  background: $secondary-color;
  padding-top: 25px;
}

#content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#tag {
  transform: rotate(-5deg);
  margin-bottom: 1rem;

  .tag-outside {
    margin: 0 auto;
    height: 150px;
    width: 210px;
    background: $primary-color;
    border: 2px solid white;
    border-radius: 20px;
  }

  .tag-inside {
    margin: 0 auto;
    height: 80px;
    width: 200px;
    background: white;
    position: relative;
    top: 50%;
    transform: translateY(-40%);

    .name {
      font-family: 'Covered By Your Grace', cursive;
      color: $jet;
      font-size: rem-calc(60);
    }
  }
}

#tag:hover {
  transform: rotate(0deg);
}

#banner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  h1, h4, p {
    color: white;
  }
  h1 {
    font-size: rem-calc(52);
  }
}

#explore {
  background: $primary-color;
  border: 2px solid white;
  border-radius: 10px;
  color: $white;
}

#explore:hover {
  background: $white;
  color: $primary-color;
}

.button-group {
  .active {
    background: $primary-color;
    color: white;
  }
}

// .side-nav {
//   .active {
//     background: $primary-color;
//     color: white;
//   }
// }

#category-buttons {
  margin-top: 2rem;
}

// Animating page loads
.page.ng-leave {
  z-index:2;
}

.page.ng-enter {
  z-index:1;
}

.page.ng-leave {
  -webkit-animation:slideOutLeft 0.5s both ease-in;
  -moz-animation:slideOutLeft 0.5s both ease-in;
  animation: slideOutLeft 0.5s both ease-in;
}

.page.ng-enter {
  -webkit-animation:slideInRight 0.5s both ease-in;
  -moz-animation:slideInRight 0.5s both ease-in;
  animation:slideInRight 0.5s both ease-in;
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(100%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(100%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(100%); }
  to    { -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
  to    { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-100%); }
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
