@import "settings";
@import "foundation";
@import url("http://fonts.googleapis.com/css?family=Covered+By+Your+Grace");

#content {
  border: 20px solid white;
  position: absolute;
  background: $primary-color;
}

#tag {
  transform: rotate(-5deg);
  margin-bottom: 1rem;

  .tag-outside {
    margin: 0 auto;
    height: 150px;
    width: 210px;
    background: $primary-color;
    border: 2px solid white;
    border-radius: 20px;
  }

  .tag-inside {
    margin: 0 auto;
    height: 80px;
    width: 200px;
    background: white;
    position: relative;
    top: 50%;
    transform: translateY(-40%);

    .name {
      font-family: 'Covered By Your Grace', cursive;
      color: $jet;
      font-size: rem-calc(60);
    }
  }
}

#tag:hover {
  transform: rotate(0deg);
}

#banner {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  h1, h4, p {
    color: white;
  }
  h1 {
    font-size: rem-calc(52);
  }
}

#explore {
  background: $primary-color;
  border: 2px solid white;
  border-radius: 5px;
  color: $white;
}

#explore:hover {
  background: $white;
  color: $primary-color;
}

.icon-bar {
  a {
    border-radius: 0.3rem;
  }
  .active {
    background: $primary-color;
    label {
      color: white;
    }
  }
}

.button-group {
  .active {
    background: $primary-color;
    color: white;
  }
}

.side-nav {
  .active {
    background: $primary-color;
    color: white;
  }
}

#category-buttons {
  margin-top: 2rem;
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
