<div id='app-background' x-ng-style="style()" resizable>
  <div id="content" class="row">
    <div class="small-12 small-centered columns">
      <div class="row">
        <div class="medium-12 large-3 columns">
          <label>Select a City
            <select id="city-selection" x-ng-model="currentCity" x-ng-options="city.selection for city in cities">
            </select>
          </label>
        </div>
        <div class="medium-12 large-9 columns text-center">
          <h2>{{ currentCity.selection }}</h2>
  <!--         <h4>Total Groups: {{ currentCity.total_groups | number:0 }}</h4> -->
          <div id="chart">
            <bar-chart data="currentCity"></bar-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
