<div id='content' x-ng-style="style()" resizable>
  <div id='banner' class="row">
    <div class="small-12 medium-8 small-centered columns text-center">

      <a href="http://www.linkedin.com/in/devindreszer/" target="_blank">
        <div id="tag">
          <div class="tag-outside">
            <div class="tag-inside">
              <h1 class="name">Devin</h1>
            </div>
          </div>
        </div>
      </a>

      <h1>Meetup Culture</h1>
      <p>The following data visualizations use meetup.com groups to gauge city culture. Data was gathered from the meetup API for the total number of groups that a city has in each of the 33 different meetup group categories. These counts were then used to determine the relative importance of each category in a given city.</p>
      <a href="#/categories" class="button" id="explore">Explore Results</a>
    </div>
  </div>
</div>
