<div x-ng-style="style()" resizable>
  <div class="row">
    <div class="small-12 medium-10 small-centered columns text-center">
      <h1>Meetup Culture</h1>
      <p>The following data visualizations examine city culture through the lens of meetup.com groups. The meetup API was utilized to determine the total number of groups that a city has in each of the 33 different meetup group categories. These counts were then used to determine the relative importance of each category in a given city.</p>
      <p>{{windowWidth}}</p>
      <p>{{windowHeight}}</p>
    </div>
  </div>
</div>
