/* svg styles */
svg {
  font-family: sans-serif;
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #444;
  stroke-width: .5;
}

.bar {
  stroke: #fff;
  shape-rendering: crispEdges;
  fill: #F20000;
}

.bar:hover {
  fill: #BF0000;
}

.axis line {
  stroke: #ccc;
  stroke-width: 1;
}

line.median {
  stroke: #777;
  stroke-width: 1;
}

.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: #eee;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--target {
  fill: #F20000;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
  stroke: #F20000;
}

.arc {
  fill: white;
}
